INFURA_ENDPOINT_KEY="7cbbc668d5c34e64a984130b21810866"
## REMEMBER TO REDEPLOY ALL RELEVANT CONTRACTS IF THERE IS A BUG IN THE CONTRACT'S
## SOLIDITY (SOURCE) CODE!!
# CCBF contract with:
# - 100 bean quantity, and
# - deployed from 0xEC64eb846C1c46E8dC01BD3B14663A034D4F34A8
COCOA_BEAN_FARMER_CONTRACT_ADDRESS="0x3cA76FaE57BaABa353E950722C1470c8e4FB3dFf"
# Manu contract with:
# - 100 initial bean count, 
# - 10 beans-to-coffee ratio,
# - 100000000000000 bean value in wei, and
# - deployed from 0xEC64eb846C1c46E8dC01BD3B14663A034D4F34A8
MANUFACTURER_CONTRACT_ADDRESS="0x5051d754461b1ada59b6Af5A28ad420F4F0542D1"
CARRIER_CONTRACT_ADDRESS=